/*----Less Variables----*/
/*----Body----*/
body {
  font-family: "Play";
  line-height: 1.6em;
}
a,
a:visited,
a:active {
  color: #888;
  text-decoration: none;
  transition: ease all .3s;
}
a:hover,
a:visited:hover,
a:active:hover {
  text-decoration: none;
  color: #3c3c3c;
}
#content {
  margin-top: 15px;
}
/*----Top Navigation----*/
#top-nav {
  position: relative;
  text-align: center;
  width: 100%;
  padding: 0px;
  background: url(../../images/pattern.jpg) repeat;
  border-top: solid 4px #6f2020;
}
#site-navigation {
  display: inline-block;
  width: auto;
  float: none;
  clear: both;
  margin: 10px 0px;
  text-transform: uppercase;
}
#site-navigation a {
  color: #f1f1f1;
}
#site-navigation ul > li {
  padding: 10px 30px;
}
#site-navigation ul > li > ul {
  top: 2.5em;
}
#site-navigation ul ul {
  opacity: 0;
  transform-origin: 0 0 0;
  transform: scale(1, 0);
  text-align: left;
  background: #aaa;
  box-shadow: none;
  background: white;
  border-left: solid 3px #6f2020;
  border-right: solid 3px #6f2020;
}
#site-navigation ul ul > li {
  padding: 0px;
  -webkit-box-shadow: 0px 11px 0px -10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 11px 0px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 11px 0px -10px rgba(0, 0, 0, 0.1);
}
#site-navigation ul ul > li:last-child {
  border-bottom: solid 3px #6f2020;
}
#site-navigation ul ul a {
  color: #444;
  padding: 10px 30px;
}
#site-navigation ul ul a:hover {
  font-weight: 700;
  transition: font-weight ease-in;
}
#site-navigation ul ul ul {
  top: 0;
}
#site-navigation ul > li:hover > ul {
  opacity: 1;
  transform: scale(1, 1);
  transition: opacity ease-in-out 0.2s, transform ease-in-out 0.2s;
}
#site-navigation .edge > ul {
  right: 0;
}
#site-navigation .edge > ul li ul {
  left: -100%;
  right: 100%;
  position: absolute;
}
.slicknav_menu {
  background: url(../../images/pattern.jpg) repeat;
  border-bottom: solid 3px #6f2020;
  padding: 14px 0;
}
.slicknav_menu .slicknav_btn {
  font-size: 20px;
  margin-left: 10px;
  background: #fff;
  color: #6f2020;
  border-radius: 4px;
  border: solid 3px #444;
  padding: 8px 10px;
}
.slicknav_menu ul {
  list-style: none;
  margin-bottom: 0px;
}
.slicknav_menu ul a:focus {
  color: #ddd;
  outline: none;
  text-decoration: none;
}
.slicknav_menu ul li:before {
  content: "\f054";
  font-family: FontAwesome;
  font-size: 9px;
  color: #6f2020;
  margin-right: 5px;
}
.slicknav_menu ul li {
  margin: 6px 0px;
}
.slicknav_menu ul li .slicknav_arrow {
  margin-left: 4px;
  font-size: 10px;
}
.slicknav_menu ul li .slicknav_arrow a {
  outline: none;
}
@media screen and (min-width: 600px) {
  .slicknav_menu {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  #top-nav {
    display: none;
  }
}
.site-header {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.site-branding {
  position: absolute;
  z-index: 2;
  top: 30%;
  width: 100%;
}
.site-branding .site-title a {
  font-weight: 700;
}
.site-branding .site-description {
  font-size: 18px;
}
#header-image {
  position: relative;
  height: 400px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transform: scale(1.1, 1.1);
}
#logo {
  max-width: 400px;
  margin: auto;
}
#search-wrapper {
  position: relative;
  text-align: center;
  z-index: 3;
  background: #ececec;
  border: solid 1px #ddd;
}
#search-wrapper .search-icon {
  display: inline-block;
  background: #ececec;
  padding: 24px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  top: -35px;
  position: absolute;
  cursor: pointer;
  left: calc( 50% - 33px );
}
#search-wrapper .search-icon img {
  width: 18px;
  height: auto;
  margin-top: -14px;
}
#search-wrapper #social-icons {
  position: relative;
  padding: 10px 0px;
  text-align: center;
  z-index: 5;
}
#search-wrapper #social-icons img {
  width: 54px;
  height: auto;
  margin: 0px 3px;
}
#search-wrapper #search-bar {
  position: relative;
  height: 94px;
  padding: 32px 0;
  right: 0;
  text-align: center;
  overflow: hidden;
}
#search-wrapper #search-bar button[type="submit"] {
  position: relative;
  color: #6f2020;
  font-weight: 700;
  padding: 0px;
  border: 0px;
  box-shadow: none;
  background: none;
  height: auto;
  left: -55px;
}
#search-wrapper #search-bar input[type="text"] {
  height: 30px;
  border-radius: 0px;
  border: solid 1px #ddd;
  width: 80%;
  outline-color: #6f2020;
  outline-width: 2px;
  transition: outline ease-in 0.1s;
}
#slider-wrapper {
  margin: 60px 0;
}
#slider-wrapper .bx-wrapper {
  padding-top: 5px;
  border-top: solid 4px #6f2020;
}
#slider-wrapper .bx-wrapper ul.bxslider li img {
  width: 100%;
}
#slider-wrapper .bx-wrapper ul.bxslider li .slide_caption {
  text-align: center;
  font-size: 25px;
  padding: 30px 15%;
  margin-top: 5px;
  border-top: solid 4px #6f2020;
  background: url(../../images/pattern.jpg) repeat;
}
#slider-wrapper .bx-wrapper ul.bxslider li .slide_caption p {
  color: #eee;
}
#slider-wrapper .bx-wrapper .bx-default-pager a {
  border-radius: 0px;
  height: 4px;
  width: 20px;
  background: #6f2020;
}
#slider-wrapper .bx-wrapper .bx-default-pager a:hover {
  transform: scale(1.1, 1.1);
}
#slider-wrapper .bx-wrapper .bx-default-pager a.active {
  transform-origin: 50% 100%;
  transform: scale(1.2, 1.5);
}
/*----Most Popular----*/
h2#mp-title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #5f5f5f;
  margin-top: 40px;
}
#most-popular {
  position: relative;
  padding: 50px 0;
  background: url('../../images/mp-pattern.png');
}
#most-popular:after {
  content: "";
  background: #000;
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#most-popular .mp-article {
  position: relative;
}
#most-popular .mp-article .featured-image {
  position: relative;
}
#most-popular .mp-article .mp-post-title {
  position: relative;
}
#most-popular .mp-article .mp-post-title h1 {
  font-size: 18px;
  text-align: center;
  border-top: solid 3px #6f2020;
  padding: 8px 0;
  text-transform: uppercase;
}
#most-popular .mp-article .mp-post-title h1 a {
  color: white;
}
.bx-wrapper .bx-viewport {
  z-index: 1;
  box-shadow: none !important;
}
.bx-wrapper .bx-viewport .featured-image {
  border-radius: 5px;
  overflow: hidden;
}
.mp_empty {
  text-align: center;
  width: 100%;
  font-size: 24px;
  color: white;
  display: block;
  position: relative;
}
/*----Recent Posts----*/
h1.home-title {
  font-size: 22px;
  font-weight: 700;
  color: #666;
  padding: 10px 0;
  margin-bottom: 0px;
}
#primary h1.entry-title {
  font-size: 20px;
  padding: 8px 0;
  border-bottom: solid 3px #6f2020;
}
#primary h1.entry-title a {
  color: #666;
}
#primary .entry-meta {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
}
#primary .entry-meta .author {
  padding: 4px 0;
}
#primary .entry-content {
  margin-top: 0px;
  font-family: "Maven Pro";
  font-size: 13px;
  padding: 0px;
  color: #555;
}
#primary .entry-content a {
  font-family: "Play";
  color: #6f2020;
}
#primary .more-link {
  margin-top: 10px;
  display: block;
  font-weight: 700;
  font-size: 11px;
}
#primary .entry-footer {
  font-size: 12px;
  display: block;
  bottom: 0px;
  left: 50%;
  right: 0px;
}
#primary .entry-footer a {
  color: #888;
}
#primary .entry-footer .cat-links:before {
  content: "\f07b";
  font-family: FontAwesome;
  padding-right: 3px;
  color: #6f2020;
}
#primary .entry-footer .comments-link:before {
  content: "\f086";
  font-family: FontAwesome;
  margin-left: 10px;
  padding-right: 4px;
  color: #6f2020;
}
#primary .entry-footer .edit-link {
  float: right;
}
.blog #primary .tags-links {
  display: none;
}
.single #primary .single-featured,
.page #primary .single-featured {
  width: 80%;
  margin: auto;
}
.single #primary .entry-content,
.page #primary .entry-content {
  margin-top: 30px;
  font-family: "Maven Pro";
  font-weight: 400;
  font-size: 14px;
}
.single #primary .entry-content p:first-child:first-letter,
.page #primary .entry-content p:first-child:first-letter {
  font-size: 30px;
  background: #6f2020;
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  margin-right: 5px;
}
.single #primary .entry-footer,
.page #primary .entry-footer {
  background: #eee;
  padding: 5px 10px;
  margin-top: 10px;
}
.single #primary .entry-footer a,
.page #primary .entry-footer a {
  color: #888;
}
.single #primary .entry-footer .tags-links:before,
.page #primary .entry-footer .tags-links:before {
  margin-left: 10px;
  margin-right: 4px;
  content: "\f02b";
  font-family: FontAwesome;
  font-size: 15px;
  color: #6f2020;
}
.single #primary .post-navigation,
.page #primary .post-navigation {
  padding: 10px 20px;
  background: #6f2020;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.7);
}
.single #primary .post-navigation a,
.page #primary .post-navigation a {
  color: white;
}
.archive article {
  overflow: auto;
}
/*----Pagination----*/
.pagination {
  width: 100%;
}
.pagination li {
  list-style: none;
  float: left;
  color: black;
  margin: 0px 7px;
}
.pagination li span {
  background: none;
  padding: 10px;
  margin-right: 1px;
}
.pagination li .page_count:after {
  color: #b93d3d;
}
.pagination li .page_count:before {
  color: #b93d3d;
}
.pagination ul {
  float: none;
  display: inline-block;
}
.pagination a {
  color: #555;
  background: none;
  position: relative;
  font-weight: 700;
  padding: 10px 16px;
  margin-left: 1px;
  text-decoration: none;
  transition: background ease-in-out 0.2s, color ease-in 0.2s;
}
.pagination a:after {
  content: "";
  position: absolute;
  background: #6f2020;
  height: 3px;
  width: 100%;
  bottom: 0;
  left: 0px;
  transition: bottom 0.2s ease-out;
}
.pagination a:hover:after {
  bottom: 100%;
}
.pagination .next,
.pagination .prev {
  background: none;
  color: #555;
  font-weight: 700;
  padding: 0px;
  border: 0px;
}
.pagination .next:after,
.pagination .prev:after {
  content: none;
}
.pagination .prev:before {
  content: '\f104';
  font-family: FontAwesome;
  padding-right: 4px;
  font-weight: 700;
  font-size: 20px;
}
.pagination .next:after {
  content: '\f105';
  background: none;
  font-size: 20px;
  font-family: FontAwesome;
  padding-left: 4px;
  font-weight: 700;
  bottom: 100%;
}
.pagination .dots {
  background: none;
  border: none;
}
.pagination .current {
  background: none;
  color: #555;
  font-weight: 700;
  border-right: none;
  padding: 10px 16px;
  margin: 0;
  margin-left: 1px;
}
/*----Secondary----*/
#secondary aside.widget h1.widget-title,
#footer-sidebar aside.widget h1.widget-title {
  position: relative;
  font-size: 22px;
  text-transform: uppercase;
  color: #555;
  background: url(../../images/pattern-2.png) 0 100% repeat-x;
  padding-bottom: 20px;
}
#secondary aside.widget h1.widget-title:after,
#footer-sidebar aside.widget h1.widget-title:after {
  position: absolute;
  content: "";
  background: #6f2020;
  height: 3px;
  width: 100%;
  bottom: 7px;
  left: 0px;
}
#secondary aside.widget ul,
#footer-sidebar aside.widget ul {
  list-style: none;
  margin: 0px;
}
#secondary aside.widget ul li:before,
#footer-sidebar aside.widget ul li:before {
  content: "\f054";
  font-family: FontAwesome;
  color: #6f2020;
  font-size: 9px;
  padding-right: 10px;
}
#footer-wrapper {
  background: url(../../images/pattern.jpg) repeat;
  padding-top: 10px;
  color: #777;
  border-top: solid 4px #6f2020;
}
#footer-wrapper h1.widget-title {
  color: #6f6f6f;
  border-bottom: none;
}
#footer-wrapper a {
  color: #ddd;
}
.site-info {
  background: #ddd;
  border-top: solid 3px #6f2020;
  padding: 10px 20px;
}
.site-info a {
  color: #888 !important;
}
/*----Comments----*/
#comments h2.comments-title {
  color: #6f2020;
  font-family: "Maven Pro";
}
#comments ul.comment-list {
  list-style: none;
  font-family: "Maven Pro";
}
#comments ul.comment-list li {
  margin: 20px 0;
}
#comments ul.comment-list li .vcard a {
  color: #6f2020;
  font-family: "Play";
}
#comments ul.comment-list li .comment-meta {
  font-family: "Play";
  font-size: 12px;
  padding: 10px;
  margin: 10px 0;
  border-top: solid 1px #6f2020;
  background: url(../../images/pattern-2.png) repeat-x 0% 0%;
}
#comments ul.comment-list li .comment-meta a {
  font-family: "Play";
}
#comments ul.comment-list li ul.children {
  list-style: none;
}
#comments ul.comment-list li .reply a {
  font-family: "Play";
  color: #6f2020;
  font-weight: 700;
}
#respond {
  text-align: center;
}
#respond h3#reply-title {
  color: #6f2020;
}
#respond #form-allowed-tags {
  display: none;
}
#respond .comment-form-comment textarea {
  outline: none;
}
#respond input[type="submit"] {
  border: solid 1px #ccc;
  padding: 10px 12px;
  border-radius: 0px;
  font-size: 14px;
  box-shadow: none;
  text-shadow: none;
}
body.error404 #primary {
  float: none;
}
body.error404 #primary section.error-404 {
  text-align: center;
}
body.error404 #primary section.error-404 .page-header {
  border-bottom: solid 3px #6f2020;
}
body.error404 #primary section.error-404 .page-header h1.page-title {
  color: #777;
}
body.error404 #primary section.error-404 .page-content {
  font-family: "Maven Pro", sans-serif;
  margin-bottom: 40px;
}
body.error404 #primary section.error-404 .page-content form#searchform input[type="text"] {
  outline: none;
  border-radius: 0px;
}
body.error404 #primary section.error-404 .page-content form#searchform button[type="submit"] {
  box-shadow: none;
  background: none;
  border: none;
  padding: 0px;
  font-size: 18px;
  color: #6f2020;
  margin-left: 5px;
}
